body {font-family: 'Montserrat', sans-serif;}

/* <header></header> */
    /* <nav></nav> */

.nav_bg {background: linear-gradient(90deg, #8600ff 0%, #00fffb 100%);}

#btn-logo:hover {cursor: default;}

.logo {
    max-height: 40px;
    min-height: 40px;
}

.brand_text {font-size: 0.8rem;}

.brand_text:hover {cursor: default;}

.nav-link {
    color: #f8f9fa;
    background-color: #000000;
    font-size: 0.65rem;
    transition-property: background-color, font-size;
    transition-duration: 0.2s;
}

.nav-link:hover {
    color: #eaeaea;
    background-color: #009a98;
    font-size: 0.7rem;
}

.nav-link:focus {color: #eaeaea;}

.nav-link-showed {
    color: #eaeaea;
    background-color: #009a98;
}

/* Home <main></main> */

.title {font-size: 2.1rem;}

.text_shadow {text-shadow: 5px 5px 3px #0d0d0d99;}

.title:hover {cursor: default;}

.me:hover {cursor: default;}

.divider {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #00fffb 0%, #8600ff 100%);
}

.carousel:hover {cursor: default;}

.carousel-item {font-size: .8rem;}

.divider2 {
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #8600ff 0%, #00fffb 100%);
}

.purple {color: #ff00ff;}
.cyan {color: #00fffb;}

.subtitle {font-size: 1rem;}

.subtitle:hover {cursor: default;}

.skill-container {
    height: 2.5rem;
    font-size: 0.8rem;
}

.skill-container:hover {cursor: default}

.html_color {background-color: #e34c26;}
.css_color {background-color: #264de4;}
.bs_color {background-color: #5421bb;}
.js_color {background-color: #F0DB4F;}
.git_color {background-color: #f34f29;}
.bg-cyan {background-color: #00fffba7;}
.bg-purple {background-color: #8600ff;}
.bg-gray-800 {background-color: #343a40;}

.box_shadow-0 {
    box-shadow: 4px 4px 4px 0px #0d0d0d99;
    -webkit-box-shadow: 4px 4px 4px 0px #0d0d0d99;
    -moz-box-shadow: 4px 4px 4px 0px #0d0d0d99;
}

.box_shadow-1 {
    box-shadow: 10px 10px 12px 0px #0d0d0dbf;
    -webkit-box-shadow: 10px 10px 12px 0px #0d0d0dbf;
    -moz-box-shadow: 10px 10px 12px 0px #0d0d0dbf;
}

.card-body:hover {cursor: pointer;}

.card_title-size {font-size: 0.8rem;}

/* About <main></main>*/

.about-title {
    letter-spacing: 2px;
    font-weight: bolder;
}

.title-separator {
    border: 2px solid;
}

.about-p {font-size: 0.8rem;}

/* Contact <main></main> */

.contact_form-input {
    display: block;
    background-color: transparent;
    color: #efefef;
    border-radius: 7.5px 7.5px 0 0;
    border-width: 0px;
    border-color: #000000;
    border-style: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #dddddd;
}

.contact_form-input:focus {
    background-color: #353f48;
    border: 2px solid #264de4;
    outline: none;
}

textarea {
    resize: none;
}

/* <footer></footer> */

.fa-brands {
    font-size: 1.5rem;
}

.fa-facebook, .fa-github, .fa-linkedin, .fa-twitter, .fa-instagram {color:#f8f9fa;}

.fa-facebook-animation {
    position: relative;
    animation: fbIconHover 0.6s;
}

.fa-instagram-animation {
    position: relative;
    animation: instaIconHover 0.6s;
}

.fa-github-animation {
    position: relative;
    animation: ghIconHover 0.6s;
}

.fa-linkedin-animation {
    position: relative;
    animation: liIconHover 0.6s;
}

.fa-twitter-animation {
    position: relative;
    animation: ttIconHover 0.6s;}

@keyframes fbIconHover {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 10%;
        transform: scaleX(0.8);
    }
    50% {
        bottom: 20%;
        color: #2a61d8;
    }
    60% {
        bottom: 10%;
        color: #2a61d8;
    }
    70% {
        bottom: 0%;
        color: #2a61d8;
    }
    80% {
        bottom: 7.5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes instaIconHover {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 10%;
        transform: scaleX(0.8);
        background: linear-gradient(to top right, #FEDA75 0%, #FA7E1E 25%, #D62976 50%, #962FBF 75%, #4F5BD5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color:#00000000;
    }
    50% {
        bottom: 20%;
        background: linear-gradient(to top right, #FEDA75 0%, #FA7E1E 25%, #D62976 50%, #962FBF 75%, #4F5BD5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color:#00000000;
    }
    60% {
        bottom: 10%;
        background: linear-gradient(to top right, #FEDA75 0%, #FA7E1E 25%, #D62976 50%, #962FBF 75%, #4F5BD5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color:#00000000;
    }
    70% {
        bottom: 0%;
        background: linear-gradient(to top right, #FEDA75 0%, #FA7E1E 25%, #D62976 50%, #962FBF 75%, #4F5BD5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color:#00000000;
    }
    80% {
        bottom: 7.5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes ghIconHover {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 10%;
        transform: scaleX(0.8);
        color: #000000;
    }
    50% {
        bottom: 20%;
        color: #000000;
    }
    60% {
        bottom: 10%;
        color: #000000;
    }
    70% {
        bottom: 0%;
        color: #000000;
    }
    80% {
        bottom: 7.5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes liIconHover {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 10%;
        transform: scaleX(0.8);
        color: #0e76a8;
    }
    50% {
        bottom: 20%;
        color: #0e76a8;
    }
    60% {
        bottom: 10%;
        color: #0e76a8;
    }
    70% {
        bottom: 0%;
        color: #0e76a8;
    }
    80% {
        bottom: 7.5%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes ttIconHover {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 10%;
        transform: scaleX(0.8);
        color: #000000;
    }
    50% {
        bottom: 20%;
        color: #000000;
    }
    60% {
        bottom: 10%;
        color: #000000;
    }
    70% {
        bottom: 0%;
        color: #000000;
    }
    80% {
        bottom: 7.5%;
    }
    100% {
        bottom: 0;
    }
}

#copyright {font-size: 0.7rem;}

#copyright:hover {cursor: default;}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) {
    /* <header></header> */
    .logo {
        max-height: 50px;
        min-height: 30px;
    }
    .brand_text {font-size: 1.15rem;}
    .nav-link{font-size: 0.8rem;}
    .nav-link:hover {font-size: 0.85rem;}
    /* Home <main></main> */
    .title {font-size: 2.3rem;}
    .carousel-item {font-size: .9rem;}
    .subtitle {font-size: 1.1rem;}
    .skill-container {
        height: 2.2rem;
        font-size: 0.825rem;
    }
    .card_title-size {font-size: 1rem;}
    /* About <main></main>*/
    .about-p {font-size: 0.9rem;}
    /* <footer></footer> */
    .fa-brands {
        font-size: 1.7rem;
    }
    #copyright {font-size: 0.75rem;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.98px) {
    /* <header></header> */
    .brand_text {font-size: 1.5rem;}
    .nav-link{font-size: 0.85rem;}
    .nav-link:hover {font-size: 0.9rem;}
    /* Home <main></main> */
    .title {font-size: 2.5rem;}
    .carousel-item {font-size: 1rem;}
    .subtitle {font-size: 1.2rem;}
    .skill-container {
        height: 2.35rem;
        font-size: 0.85rem;
    }
    .card_title-size {font-size: 1.1rem;}
    /* About <main></main>*/
    .about-p {font-size: 1rem;}
    /* <footer></footer> */
    .fa-brands {
        font-size: 1.9rem;
    }
    #copyright {font-size: 0.8rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.98px) {
    /* <header></header> */
    .brand_text {font-size: 1.2rem;}
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
    }
    .nav-link {font-size: 0.875rem;}
    .nav-link:hover {
        color: #f9f9f9;
        background-color: #7000d2;
        font-size: 0.925rem;
    }
    .nav-link-showed {
        color: #f9f9f9;
        background-color: #7000d2;
    }
    /* General main <main></main> */
    .margin-main-top {margin-top: 76px;}
    /* Home <main></main> */
    .title {font-size: 3rem;}
    .carousel-item {font-size: 1.1rem;}
    .subtitle {font-size: 1.3rem;}
    .skill-container {
        height: 2.5rem;
        font-size: 0.95rem;
    }
    .card_title-size {font-size: 1.1rem;}
    /* About <main></main>*/
    .showedMain-about {padding-top: 3rem;}
    .about-p {font-size: 1.25rem;}
    /* Contact <main></main> */
    /* <footer></footer> */
    .fa-brands {
        font-size: 2.1rem;
    }
    #copyright {font-size: 0.85rem;}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) {
    /* <header></header> */
    .brand_text {font-size: 1.3rem;}
    .nav-link{font-size: 0.9rem;}
    .nav-link:hover {font-size: 0.95rem;}
    /* Home <main></main> */
    .title {font-size: 3.2rem;}
    .carousel-item {font-size: 1.2rem;}
    .subtitle {font-size: 1.4rem;}
    .skill-container {font-size: 1rem;}
    .card_title-size {font-size: 1.25rem;}
    /* <footer></footer> */
    .fa-brands {
        font-size: 2.3rem;
    }
    #copyright {font-size: 0.9rem;}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1399.98px) {
    /* <header></header> */
    .logo {
        max-height: 80px;
        min-height: 60px;
    }
    .brand_text {font-size: 2rem;}
    .nav-link{font-size: 0.95rem;}
    .nav-link:hover {font-size: 1rem;}
    /* Home <main></main> */
    .title {font-size: 4rem;}
    .carousel-item {font-size: 1.3rem;}
    .subtitle {font-size: 1.5rem;}
    .card_title-size {font-size: 1.35rem;}
    /* <footer></footer> */
    .fa-brands {
        font-size: 2.5em;
    }
    #copyright {font-size: 1rem;}
}