body {
    font-family: 'Montserrat', sans-serif;
}

.nav_bg {
    background: #00fffb;
    background: linear-gradient(90deg, #8600ff 0%, #00fffb 100%);
}

.logo {
    max-height: 100px;
    min-height: 50px;
}

.brand_text {
    font-size: 1rem;
}

.title {
    font-size: 2.1rem;
}

.divider {
    height: 1px;
    width: 100%;
    background: #00fffb;
    background: linear-gradient(90deg, #00fffb 0%, #8600ff 100%);
}

.divider2 {
    height: 1px;
    width: 100%;
    background: #00fffb;
    background: linear-gradient(90deg, #8600ff 0%, #00fffb 100%);
}

.purple {
    color: #ff00ff;
}

.lilac {
    color: #bb50fd;
}

.cyan {
    color: #00fffb;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) {
    .logo {
        max-height: 100px;
        min-height: 70px;
    }
    .brand_text {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2.3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.98px) {
    .brand_text {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2.5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.98px) {
    .brand_text {
        font-size: 1.75rem;
    }
    .title {
        font-size: 3rem;
    }
    .nav-link {
        font-size: 1rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) {
    .brand_text {
        font-size: 2rem;
    }
    .title {
        font-size: 3.2rem;
    }
    .nav-link {
        font-size: 1.1rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1399.98px) {
    .logo {
        max-height: 120px;
        min-height: 70px;
    }
    .brand_text {
        font-size: 2.25rem;
    }
    .title {
        font-size: 4rem;
    }
    .nav-link {
        font-size: 1.6rem;
    }
}